/**
 * Name: Valerie Remaker
 * Date: 11/14/18
 * Section: CSE154 AD
 *
 * Revamped css for name puns!
 */
@import url('https://fonts.googleapis.com/css?family=Roboto|Anton');
@import url('https://fonts.googleapis.com/css?family=Arvo|Gravitas+One');
body {
  background-color: white;
  font-family: 'Arvo', san-sans-serif;
  background-size: 50px;
  height: 10px;
  padding: 0;
  margin:0;
}

main, header, footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  background-color: #f4f8fc;
  margin: auto;
}

main {
  height: 30em;
  margin-top: 0;
}
header {
  text-align: center;
  margin-top: 3%;
}

header h1 {
  font-family: "Gravitas One", cursive;
}

header h2 {
  font-size : 12pt;
  padding : 0;
  margin : 0;
}

#puns {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-bottom: 10%;
}

footer {
  font-size: 8pt;
  text-align: center;
  font-weight: bold;
}

#btns {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

button {
  font-family: 'Arvo', san-sans-serif;
  font-size: .5em;
  padding : 10px;
  margin : 5px;
  width: 40%;
  height: 100%;
  background-color: #cffdfb;
  word-wrap:break-word;
}

button:hover{
  background-color: #c0c9de;
}

#search-btns{
  display: flex;
  flex-flow : row nowrap;
  width: 70%;
  justify-content: center;
}

#res {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
  align-self: center;
}

#res h3 {
  font-size: 15pt;
  font-weight: bold;
}

#res h2, h3 {
  margin: 3%;
}

input {
  width: 55%;
  height: 25px;
  margin: 10px;
}

.hidden {
  display: none;
}
